[Desktop Entry]
Encoding=UTF-8
Name=到 git did not exit cleanly (exit code 128) 的链接
Type=Link
URL=http://www.cnblogs.com/yaohuimo/p/6910282.html
Icon=text-html
